@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-5">Tienda MVC - ASP.NET Core</h1>
    <p class="lead">CRUD de Clientes conectado a contenedores Docker (SQL Server / MariaDB).</p>
    <a class="btn btn-primary btn-lg mt-3" asp-controller="Clientes" asp-action="Index">
        Ir a Clientes
    </a>
</div>
